<%- include("partials/header"); -%>

    <h1>Daily Journal Support</h1>
    <p> <%= contactContent %> </p>

    <a class="btn" href="mailto:DJoural@gmail.com">CONTACT US</a>



<%- include("partials/footer"); -%>
