
<%- include("partials/header"); -%>


<h1>Delete</h1>



<form class="" action="/delete" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="postIdDeleted">
  </div>
  <button class="btn btn-primary" type="submit" name="button">Delete</button>
</form>

<%- include("partials/footer"); -%>
