<%- include("partials/header"); -%>

<h1>Update Blog</h1>



<form class="" action="/update" method="POST">
  <div class="form-group">
      <label>Blog ID</label>
      <input readonly id="upBlog" class="form-control" type="text" name="titleId">
      <label>Title</label>
      <input id="upTitle" class="form-control" type="text" name="titleToBeUpdated">
      <label>Post</label>
      <textarea id="myTextarea" class="form-control" name="contentToBeUpdated" rows="5" cols="30"></textarea>
  </div>
  <div class="btn-group ml-2" role="group" aria-label="Basic example">
   
      <button class="btn btn-primary" type="submit" name="button">Update</button>
    
    </div>

</form>


<%- include("partials/footer"); -%>